<h1>New Health Goal</h1>

<%= form_with model: @health_goal do |f| %>
  <div>
    <label>Goal</label>
    <%= f.text_field :name %>
  </div>

  <div>
    <label>Category</label>
    <%= f.text_field :module %>
  </div>

  <div>
    <label>Details</label>
    <%= f.text_area :content %>
  </div>

  <%= f.submit "Create Health Goal" %>
<% end %>
